.container {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.nav {
  position: fixed;
  bottom: 0px;
  width: 411.4px;
  height: 80px;
  background-color: white;
  border-top: 2px solid #d1d5db; /* Tailwind gray-300 */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  color: #7d8289; /* Tailwind gray-700 */
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.link:hover, 
.active {
  color: #000000;
  font-weight: 500;
}
